form{
    
}

input{
    margin:8px;
}

/*
.panel{
    width: 60%;
    height: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 20px #00000066);
    padding:20px;
    flex-shrink: 0;
}

@media only screen and (max-width: 800px) {
    .panel {
      width:80%;
      height:70%;
    }
}*/


button{
    margin:10px;
}

